h1{
    color: aqua;
    text-align: center;
}

body{
    background-color: grey;
}

.name{
    height: auto;
    width: auto;
}

.name p{
    text-align: center;
    font-size: 200px;
    width: auto;
    color: chartreuse;
}