h1{
    color: aqua;
    text-align: center;
}

body{
    background-color: grey;
    display: block;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

.styling{
    display: block;
    justify-content: center;
    text-align: center;
    background-color: rgba(238, 255, 0, 0.63);
    height: 40px;
    padding: 10px;
    margin: 10px;
}


.name {
    text-align: center;
    height: auto;
    width: auto;
    font-size: 200px;
    color: black;
    margin-bottom: 2rem;

}

footer{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #f5f1f1;  
}

footer a{
    text-decoration: none;
    font-size: 20px;
}

footer a:hover{
    color:skyblue;
}